nav {
  height: 50px;
  background-color: lightgrey;
}

/* target the class of inline-block below */
.inline-block {
  display: inline-block;
  padding: 15px;
  text-decoration: none;
}

/* target the class of .left below */
.bottomcontent {
  height: 500px;
  float: left;
}

.left {
  width: 30%;
  background-color:lightblue;
  text-align: center;
}

/* target the class of .right below */
.right {
  width: 70%;
  background-color: lightgreen;
  text-align: center;
}

/* styling for .card */
.card {
  display: inline-block;
  background-color: #c6c6c6;
  border-radius: 5px;
  height: 200px;
  width: 150px;
  margin: 50px 35px 35px 35px;
}